<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drawing App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <div id="button-area">
                <div>
                    <input type="number" v-model="newCanvasWidth"> x by <input type="number" v-model="newCanvasHeight"> y
                    <button v-on:click="resetCanvasClick()">Update Dimensions</button>
                </div>
                <div>
                    <input type="number" v-model="newSeedCount" v-show="!seedsPlanted">
                    <button v-on:click="seedPicture(newSeedCount)" v-show="!seedsPlanted">Plant Voronoi Seeds</button>
                    <button v-on:click="startJFA()" v-show="seedsPlanted && !JFA_ONLINE">Initialize JFA</button>
                    <div v-show="seedsPlanted && JFA_ONLINE" style="display: inline-block;">Current k: {{ JFA_K }}</div>
                    <button v-on:click="iterateJFA()" v-show="seedsPlanted && JFA_ONLINE">Initialize JFA</button>
                </div>
                <div>
                    <button v-on:click="drawFancyRectangle()">Draw Fancy Rectangle</button>
                </div>
            </div>
            <canvas id="canvas"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>